services:
  postgres:
    image: postgres:latest
    container_name: spring-boot-min-postgres
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql

volumes:
  pg_data:
    external: true
